* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
}

/* @font-face {
	font-family: arsenal_f;
	src: url(../fonts/arsenal-regular.woff2);
} */

@font-face {
	font-family: literata_r;
	src: url(/poetry/fonts/LiterataBook-Regular.woff2);
	font-weight: 700;
}

body {
	font-family: literata_r;
	background-image: url(/poetry/img/1.jpg);
	backdrop-filter: blur(6px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
header {
	background-color: #cbc3ab54;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: calc(var(--index) * .7);
}

h1 {
	font-size: calc(var(--index) * 1.3);
}

.poem {
	/* background-color: #fff; */
	margin: calc(var(--index) * .5);
	text-align: center;
}
.poem h2 {
	font-size: calc(var(--index) * 1.1);
	margin-bottom:calc(var(--index) * .2);
}
.poem h3 {
	font-size: calc(var(--index) * .8);
	margin-bottom:calc(var(--index) * .2);
}
.poem p {
	font-size: calc(var(--index) * .9);
	line-height: 1.6;
}

hr.divider:after {
		content: '§';
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%) rotate(60deg);
		transform-origin: 50% 50%;
		padding: .5rem;
}

hr.divider {
	border: none;
  height: 1px;
  background-image: linear-gradient(to right, #a6a5a5, #2d2c2c, #8f8e8e);
}

.copy {
	position: relative;
	top: calc(var(--index) * .5);
	bottom: calc(var(--index) * .5);
	font-size: calc(var(--index) * .6);
	letter-spacing: calc(var(--index) / 35);
}

/* social links */
.copy a {
	cursor: pointer;
	text-decoration: none;
	color: rgb(255, 34, 34);
}

.social {
	display: flex;
	text-align: center;
	font-size: calc(var(--index) * .7);
	align-items: center;
	justify-content: center;
}
.social a {
	cursor: pointer;
	text-decoration: none;
	color: #405a04;
	margin: calc(var(--index) * 1.5);
}

